<div class="row text-center">
  What up - you in the idea box
</div>
<div class="container">
  <% @ideas.each do |idea| %>
    <div class="row">
      <p>Idea Title: <%= idea.title %></p>
      <p>Idea Body: <%= idea.body %></p>
      <p>Idea Quality: <%= idea.quality %></p>
    </div><br>
  <% end %>
</div>
